@import url("https://fonts.googleapis.com/css2?family=Charis+SIL:wght@700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 60%, rgba(0,212,255,1) 100%);
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.verse {
    font-style: italic;
    padding: 1em;
    margin: 0 1em auto;
}

.explanation {
    padding: 1em;
    margin: 0 1em auto;
}

.welcome-text {
    background-color: rgb(255, 255, 255);
    color: black;
    width: 70%;
    padding: 4em 0 3em 0;
    margin: 5rem auto;
    text-align: center;
    font-size: 1.5em;
    box-shadow: 0 0.3em 0.3em 0 black;
    border-radius: 3em;
}

.arrow {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: bounce;
    animation-timing-function: ease;
    width: 2em;
}

@keyframes bounce {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0px); }
}

.question {
    background-color: rgb(255, 255, 255);
    color: black;
    width: 50%;
    padding: 1em;
    margin: 5em auto;
    font-size: 1.5em;
    box-shadow: 0 0.3em 0.3em 0 black;
    border-radius: 2em;
}

.question-text {
    text-align: center;
}

.options-buttons {
    font-weight: bolder;
    width: 70%;
    display: block;
    padding: 1em;
    margin: 1em auto;
    border: 1px solid black;
    text-align: center;
    border-radius: 3em;
    cursor: pointer;
}

.options-buttons:hover:not([disabled]) {
    background-color: #444;
    color: white;
    transition: 0.5s;
}

.options-buttons:disabled {
    cursor: no-drop;
}

.next {
    width: 5em;
    padding: 1em;
    margin: 1em auto;
    border: 0;
    display: none;
    text-align: center;
    border-radius: 3em;
    background-color: rgb(25, 25, 223);
    color: white;
    font-weight: bolder;
}

.next:hover {
    background-color: rgb(14, 14, 118);
    transition: 0.5s;
}

.correct {
    background-color: rgb(81, 224, 81);
}

.incorrect {
    background-color: rgb(239, 114, 114);
}
